body {
    margin: 0;
    padding: 0;
    background-color: #f0ece8;
    color: #111115;
    font-family: Courier, BIZ UDGothic, Meiryo, sans-serif;
}

header {
    height: auto;
    background-color: #ddcaaf;
    color: #111115;
    text-indent: 2em;
    font-weight: 700;
    font-size: 21pt;
    padding: 20px;
}

nav ul {
    background-color: #ddcaaf;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

nav ul li:hover {
    background-color: #3e4d9e;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section a {
    text-decoration: none;
}

section article {
    display: inline-block;
    width: 30%;
    float: left;
    padding: .5em;
    margin: 4px;
    background-color: #eae1de;
}

section article:hover {
    background-color: #f2d74f;
}

details summary h2 {
    background-color: #a47d72;
    color: white;
    border-radius: .5em;
    font-size: 15pt;
    padding: 1em;
}

details p {
    text-decoration: none;
}

details p a {
    background-color: #a47d72;
    padding: .5em;
    color: white;
    font-weight: 700;
}

section.hidden {
    clear: both;
}

.hidden p {
    width: 66%;
    margin: 0 auto;
    padding: .5em;
    line-height: 2;
    text-indent: 1em;
}

footer {
    clear: both;
    height: 8em;
    text-align: center;
}

@media screen and (max-width: 600px){
    section article {
        width: 95%;
        overflow: visible;
    }
}